* { 
    color: blue;
}

p {
    color: rgba(0, 0, 0, 0.507);
    width: 600px; 
    margin-top:5px;
    margin-bottom: 5px;}
span {
    color: black;
    width: 600px; 
    margin-top:5px;
    margin-bottom: 5px;
}

 /**
Esto es un comentario dentro de un documento css
*/
h1 {
    font-family: 'Roboto', sans-serif;
    border:5px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 305px;
    margin-right: 320px;
    /*padding-top: 20px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right: 20px;*/
    padding: 30px 15px 25px 20px;
    font-weight: bold;
    color: red;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
#mi_parrafo {
    color: yellow;
    font-size: 23px;
    border: 1px solid orange;
}
.Estaesmiclase {
    font-weight: bold;
    color: lightblue;
}
.button{
    margin-top: 40px;
    margin-bottom: 100px;
    height:80px;
    width:160px;
    background-color:floralwhite;
    border-radius:10%;
     }
/*
section h1 {
    font-weight: 400px;
}
*/